* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}
.register-wrapper {
  background-color: white;
  width: 32%;
  border-radius: 30px;
}

.top h2 {
  text-align: center;
  margin: 2rem 1rem;
  color: blue;
  font-weight: 600;
}
.input-wrapper {
  margin: 2rem;
  display: flex;
  align-items: center;
}

input {
  width: 90%;
  padding: 5px 2px 2px;
  border: none;
  outline: none;
  border-bottom: 2px solid blue;
  transition: 500ms all linear;
}

input:focus {
  outline: none;
  box-shadow: 0px 2px 0 0 lightblue;
  transition: 500ms all linear;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

p span {
  color: blue;
  font-weight: 500;
}

p {
  font-size: 14px;
}

button {
  width: 180px;
  height: 40px;
  margin-right: 1rem;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(39, 39, 238);
  color: white;
  transition: 200ms all linear;
}

/* button:hover {
  background-color: transparent;
  outline: 1px solid black;
  color: black;
  transition: 200ms all linear;
  cursor: pointer;

} */

button:hover {
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(10, 10, 124);
  transition: 200ms all linear;
}

.bottom {
  background-color: rgb(33, 33, 214);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bottom-wrapper p {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.bottom-wrapper ul {
  list-style: none;
  display: flex;
}

.bottom-wrapper ul li {
  font-size: 25px;
  margin-right: 4rem;
}

ul li:last-child {
  margin-right: 0;
}
i {
  transition: 200ms all ease-in-out;
}

i:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

@media (max-width: 1220px) {
  .register-wrapper {
    width: 50%;
  }
}

@media (max-width: 950px) {
  .register-wrapper {
    width: 70%;
  }
}

@media (max-width: 670px) {
  .register-wrapper {
    width: 85%;
  }
}

@media (max-width: 450px) {
  .reg {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  li {
    margin-right: 0.5rem;
  }
  input {
    width: 100%;
  }
}

@media print {
  * {
    display: none;
  }
}
